.case-section {
  padding: 60px 0;
  text-align: center;
  background-color: #f1f1f1;
}

.case-section h2 {
  font-family: "Avenir Next", sans-serif;
  margin-top: 50px;
  font-size: 36px; /* updated size */
  font-weight: 700;
  margin-top: -10px;
  color: #122448; /* updated color */
}

/* Page padding */
.case-section .container {
  padding-left: 80px;
  padding-right: 80px;
}

.case-section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: stretch;
}

.case-card {
  background: #ffffff; /* card color */
  border-radius: 0;
  padding: 30px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  flex: 1 1 23%;
  min-height: 450px; /* increased height */

  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.6s ease forwards;
  animation-delay: 0.15s;
}

/* Stagger AFTER base delay */
.case-card:nth-child(1) {
  animation-delay: 0.15s;
}
.case-card:nth-child(2) {
  animation-delay: 0.25s;
}
.case-card:nth-child(3) {
  animation-delay: 0.35s;
}
.case-card:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.case-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: cover;
  background-color: #fff;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 20px;

  transform: scale(1.3);
}

.case-card h5 {
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  color: #000000; /* updated color */
  font-size: 22px; /* updated size */
  font-family: "Montserrat", sans-serif; /* updated family */
}

.case-card p {
  font-size: 14px; /* size remains same */
  color: #272727; /* updated color */
  line-height: 1.6;
  text-align: center;
  font-family: "Montserrat", sans-serif; /* updated family */
}

/* Responsive */
@media (max-width: 992px) {
  .case-card {
    flex: 1 1 48%;
    min-height: 420px; /* increased height for medium screens */
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .case-card {
    flex: 1 1 100%;
    min-height: 380px; /* increased height for small screens */
    margin-bottom: 20px;
  }
}
